<ion-view style="background-color: rgb(15, 16, 16);" id="page1" title="Empresa">
    <ion-content class="has-header" padding="true" style="background: url(img/rZlKebvyTKi2QKqNwSKg_ionic%2520tabajara.png) no-repeat center;background-size:cover;">
        <h3 style="color: rgb(7, 7, 7); font-weight: 600; font-style: italic; text-align: center;" id="empresa-heading3">Entidades Relacionadas</h3>
        <div style="height: 100px;" class="spacer"></div>
        <a class="button button-light  button-block icon ion-android-globe" id="empresa-button8" onclick="window.open('http://etecdrc.com.br', '_system', 'location=yes'); return false;" href="#">Sobre a ETEC Ruth Cardoso</a>
        <a class="button button-light  button-block icon ion-android-globe" id="empresa-button9" onclick="window.open('http://www.cps.sp.gov.br', '_system', 'location=yes'); return false;" href="#">Sobre o Centro Paula Souza</a>
    </ion-content>
</ion-view>