<ion-view style="" id="page5" title="Entre em Contato">
    <ion-content class="has-header" padding="true" style="background: url(img/9GggJgT1R96qgEqTJ3OV_carmel-fundo.jpg) no-repeat center;background-size:cover;">
        <h3 style="color: rgb(0, 0, 0);" id="entreEmContato-heading5">Entre em Contato com os Professores...</h3>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Digite Aqui...</span><textarea placeholder=""> </textarea>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Nome</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Email</span>
                <input placeholder="" type="email">
            </label>
        </form>
        <button class="button button-dark  button-block" style="border-radius:11px 11px 11px 11px;" id="entreEmContato-button12">Enviar</button>
    </ion-content>
</ion-view>