<ion-view style="" id="page3" title="Serviço">
    <ion-content class="has-header" padding="true" style="background: url(img/9ckU6H4NTRS9UHugrr1W_ionic.png) no-repeat center;background-size:cover;">
        <h3 style="color: rgb(0, 0, 0); font-style: italic; text-align: center;" id="serviO-heading4">Sobre o Curso</h3>
        <div style="color: rgb(0, 0, 0);" id="serviO-markdown4">
            <p>O curso de IONIC é usados para agregar com o curso de informática da ETEC Ruth Cardoso.</p>
        </div>
    </ion-content>
</ion-view>